
@media screen and (min-width: 300px) and (max-width: 800px){
    .bdef{
        flex-direction: column;
    }
    .a,.f,.cde{
        height: 20vh;
    }
    .a, .bcde,.bcdef, .f{
        width: 100%;

    }
    .b {
        height: 40vh;
    }
    .c, .d, .e {
        height: 100%;
        width: 33.33%;
    }
    .bcdef{
        flex-direction: column;
    }


}