body{
    margin: 0;
    font-size: 50px;
}
.container{
    width: 100vw;
    height: 100vh;
}

.a,.b,.c,.d,.e{
    height: 33vh;
}
.a,.b,.c,.d,.e,.f{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    border: 1px solid navy;
}


.f,.c,.d,.e {
    width: 25vw;

}
.cde, .bcdef{
    display: flex;
}
.bcdef {
    display: flex;
}